body {
    display: flex;
    background: url('anya\ forger.png') no-repeat center center ;
    background-size: cover;
    color: white;
    background-color: black;
    overflow-x: hidden;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    align-items: center;
    text-align: center;
    text-decoration: solid;
    margin: 10px;
}

div {
    margin: 5px;
    text-align: center;
}
.overlay {
    position: relative;
    background-color: black;
    opacity: 70%;
    z-index: 2;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    text-shadow:hsl(from color h s l);
    text-decoration-color: hotpink;
}

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3:hover {
    transition: transform 0.3s ease; 
}

@keyframes dance {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    25% {
        transform: translateY(-10px) rotate(-10deg);
    }
    50% {
        transform: translateY(0) rotate(10deg);
    }
    75% {
        transform: translateY(-10px) rotate(-10deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

a {
    color: hotpink;
}

a:hover{
    color:  rgb(255, 132, 194);
}



